<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"><span>ID: </span>{{hero.id}}</span>
        </div>
        <div class="heroName">
          <input type="text" [(ngModel)]="hero.name" placeholder="name" id="hero-name" class="form-control"
            aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group-append">
            <a class="btn btn-success" (click)="save()" uiSref="heroes">Save</a>
            <a class="btn btn-secondary" uiSref="heroes">Back to Heroes</a>
          </div>
        
      </div>
</div>
