<h2>My Heroes</h2>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Hero To Add</span>
    </div>
    <div class="heroName">
        <input type="text" #heroName id="new-hero" class="form-control" aria-label="Default">
    </div>
    <div class="input-group-append">
        <button class="btn btn-primary" (click)="add(heroName.value); heroName.value=''">Add Hero</button>
    </div>
</div>



<div *ngFor="let hero of heroes">
    <div class="input-group my-0">
        <div class="input-group-prepend">
            <a routerLink="/detail/{{hero.id}}">
                <span class="input-group-text">{{hero.id}}</span>
            </a>
        </div>
        <div class="input-group-prepend-1">
            <a routerLink="/detail/{{hero.id}}">
                <span class="input-group-text">{{hero.name}}</span>
            </a>
        </div>
        <div class="input-group-append">
            <button class="btn btn-danger" title="delete hero" (click)="delete(hero)">x</button>
        </div>
    </div>
</div> 