/* HeroesComponent's private CSS styles */
.heroes {
  width: 15em;
}

.list-group {
  width: 400px;
}

.input-group {
  margin-top: 20px;
  margin-bottom: 50px;
}

.input-group-prepend-1 {
  width: 300px
}

.heroName {
  width: 300px;
}
