/* HeroSearch private styles */

  .input-group-prepend {
    margin-top: 40px;
  }

  .search {
    margin-top: 40px;
    width: 100%;
    max-width: 600px;
  }
 
  input:focus {
    outline: #336699 auto 1px;
  }  
